<%- include('../views/layout/header'); %>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Your Site!</h1>
            <p class="lead">This is a simple welcome page using Bootstrap.</p>
            <hr class="my-4">
            <p>Feel free to explore our website.</p>
            <form action="/uploadFile" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit">
            </form>
        </div>
    </div>
    <%- include('../views/layout/footer'); %>